menu {
  transition: all 0.25s ease-in-out;
  transition-delay: 0.75s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  /*background-color: #2e7bbd;*/
  background-color: rgb(25 197 207 / 50%);
  margin: -45px 0 0 -45px;
  position: fixed;
/*	width: 8vw;
	height: 14.2vh;*/
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  right: 2%;
  bottom: 2%;
  z-index: 101;
}

/*menu:before, menu:after {
  content: "";
  z-index: 2;
  position: fixed;
  width: 3px;
  height: 22.5px;
  cursor: pointer;
  background-color: #fbfdff;
  top: 50%;
  left: 50%;
}

menu:before {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
menu:after {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}*/

menu li {
  transition: all 0.25s ease-in-out;
  transition-delay: 0.75s;
/*  width: 59.4px;
  height: 59.4px;*/
/*      width: 5vw;
    height: 6.5vh;*/
    width: 60px;
    height: 60px;
  /*margin: -29.7px 0 0 -29.7px;*/
  margin: -20px 0 0 -20px;
  opacity: 0;
  text-align: center;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  line-height: 59.4px;
  color: #fbfdff;
  border-radius: 50%;
  /*background-color: #428dce;*/
  /*background-color: rgb(115 201 206 / 69%);*/
  list-style-type: none;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
}


menu li a i{
	padding: 20px;
}

menu li.attack {
  margin: -20px 0 0 -24px;
}
menu li.item {
  margin: 4px 0 0 -14px;
}
menu li.skill{
      margin: -18px 0 0 -26px;
}
menu li.magic{
	margin: -12px 0 0 -16px
}
menu li.defence{
	margin: -16px 0 0 4px;
}
menu li.menuQuit
{
    margin: -51px 0px 0px -1px;
}

menu li::after{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

menu li li:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}

menu li li:nth-of-type(2) {
  -webkit-transform: rotate(180deg) translate(0, 0);
  transform: rotate(180deg) translate(0, 0);
  animation-name: crazy;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

menu li li:nth-of-type(3) {
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}

menu li li:nth-of-type(4) {
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}

menu li li:nth-of-type(5) {
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}

menu:hover {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition-delay: 0s;
}

menu:hover li {
  transition-delay: 0.1s;
  opacity: 1;
}

menu:hover div.menu-light {
  transition-delay: 0.1s;
  opacity: 1;
}


menu:hover li:nth-of-type(1) {
  -webkit-transform: rotate(60deg) translate(0, 90px);
  transform: rotate(60deg) translate(0, 90px);
}

menu:hover li:nth-of-type(2) {
  -webkit-transform: rotate(0deg) translate(0, 90px);
  transform: rotate(0deg) translate(0, 90px);
}

menu:hover li:nth-of-type(3) {
  -webkit-transform: rotate(310deg) translate(0, 90px);
  transform: rotate(310deg) translate(0, 90px);
}

menu:hover li:nth-of-type(4) {
  -webkit-transform: rotate(260deg) translate(0, 90px);
  transform: rotate(260deg) translate(0, 90px);
}

menu:hover li:nth-of-type(5) {
  -webkit-transform: rotate(210deg) translate(0, 90px);
  transform: rotate(210deg) translate(0, 90px);
}

menu:hover div.menu-light {
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
}


/*menu li.active {
  -webkit-transform: rotate(60deg) translate(0, 90px);
  transform: rotate(60deg) translate(0, 90px);
}

menu li.active {
  -webkit-transform: rotate(0deg) translate(0, 90px);
  transform: rotate(0deg) translate(0, 90px);
}

menu li.active {
  -webkit-transform: rotate(310deg) translate(0, 90px);
  transform: rotate(310deg) translate(0, 90px);
}

menu li.active {
  -webkit-transform: rotate(260deg) translate(0, 90px);
  transform: rotate(260deg) translate(0, 90px);
}

menu li.active {
  -webkit-transform: rotate(210deg) translate(0, 90px);
  transform: rotate(210deg) translate(0, 90px);
}*/

/*menu:hover li:nth-of-type(2) {
  -webkit-transform: rotate(310deg) translate(0, 90px);
  transform: rotate(310deg) translate(0, 90px);
}

menu:hover li:nth-of-type(3) {
  -webkit-transform: rotate(260deg) translate(0, 90px);
  transform: rotate(260deg) translate(0, 90px);
}

menu:hover li:nth-of-type(4) {
  -webkit-transform: rotate(210deg) translate(0, 90px);
  transform: rotate(210deg) translate(0, 90px);
}

menu:hover li:nth-of-type(5) {
  -webkit-transform: rotate(160deg) translate(0, 90px);
  transform: rotate(160deg) translate(0, 90px);
}
*/

li a {
  transform :rotate(180deg);
  display:block;
}

.menu-action li.action{
	/*margin: -18px 0 0 -14px;*/
/*	-webkit-transform: rotate(260deg) translate(0, 90px);
	transform: rotate(260deg) translate(0, 90px);*/
/*	  transition: all 0.25s ease-in-out;
  transition-delay: 0.75s;*/
/*  width: 59.4px;
  height: 59.4px;*/
/*    transition: all 0.25s ease-in-out;
    transition-delay: 0.75s;*/
    width: 60px;
    height: 60px;
    /* margin: -29.7px 0 0 -29.7px; */
    /*margin: -20px 0 0 -20px;*/
    /*opacity: 0;*/
    text-align: center;
    font-size: 18px;
    /*font-weight: 100;*/
    /*line-height: 59.4px;*/
    color: #fbfdff;
    border-radius: 50%;
    background-color: #d93737;
    list-style-type: none;
    position: fixed;
    z-index: 100;
/*    left: 50%;
    top: 50%;*/
}

.menu-action div.action.active{
    width: 60px;
    height: 60px;
    /* margin: -29.7px 0 0 -29.7px; */
    /*margin: -20px 0 0 -20px;*/
    /*opacity: 0;*/
    text-align: center;
    font-size: 18px;
    /*font-weight: 100;*/
    /*line-height: 59.4px;*/
    color: #fbfdff;
    border-radius: 50%;
    /*background-color: #d93737;*/
    background-color: rgb(115 201 206 / 69%);
    list-style-type: none;
    position: fixed;
    z-index: 100;
/*    left: 50%;
    top: 50%;*/
}

.sheild-rotate{
	transform:rotate(147deg)
}

div.action.active:hover{
  background: rgb(166 182 183);
}

.menu-action{
/*  transition: all 0.25s ease-in-out;
  transition-delay: 0.75s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);*/
  background-color: #ccc;
  margin: -45px 0 0 -45px;
  position: fixed;
/*  width: 8vw;
  height: 14.2vh;*/
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  right: 2%;
  bottom: 2%;
  z-index: 10;
}

div.action i{
  padding: 20px;
}
.action{
    opacity: 0;
}

.action.magic{
  margin: 28px 0 0 -73px;
}
.action.defence{
  margin: 94px 0 0 -49px;
}
.action.attack{
    margin: -70px 0 0 24px;
 }
 .action.item{
    margin: -49px 0 0 92px;
 }
 .action.skill{
    margin: -40px 0 0 -43px;
}

.action.menuQuit{
    /*margin: 50px 0 0 14px;*/
    margin: 69px 0 0 19px;
}
.menuQuit{
    width: 42px!important;
    height: 42px!important;
    background: rgb(255 255 255 / 35%) !important;    
    color: rgb(135 135 135) !important;
/*    background: rgb(255 255 255 / 75%);
    color: rgb(0 0 0 / 50%);*/
    line-height: 42px!important;
}

li.menuQuit a i, .action.menuQuit i {
  padding: 12px!important;
}
/*.menu-cyrstal{
    background-color: #b1b1b1;
    margin: -45px 0 0 -45px;
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    right: 3%;
    bottom: 2%;
    z-index: 10;
}*/

.menu-light-under{
    background-color: #ffffff8a;
    margin: -45px 0 0 -45px;
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    right: 4%;
    bottom: 4%;
    z-index: 11;
}
.menu-light{
    transition: all 0.25s ease-in-out;
    transition-delay: 0.75s;
    background-color: #ffffff8a;
    margin: -45px 0 0 -45px;
    position: fixed;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    right: 15px;
    bottom: 78px;
    z-index: 102;
    /*transform: rotate(25deg);*/
    transform: scaleX(1) rotate(25deg);
}

.menu-crystal {
    background-color: #ffffff8c;
    margin: -45px 0 0 -45px;
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    right: 3%;
    bottom: 2%;
    z-index: 11;
}

div.menu-light.active {
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
}
.action.active{
  opacity: 1
}
.action.active.selected{
    background: rgb(255 255 255 / 50%)!important;
    animation: zoom-in-zoom-out-a 3s ease infinite;
    padding: 4px;
}
.action.active.selected i{
  border: 2px solid rgb(255 255 255 / 35%);
  border-radius: 50%;
  padding: 15px 
}

.action.menuQuit.active.selected i{
  border: none !important;
}
.action.menuQuit.active.selected {
    background: rgb(113 113 113) !important;
    color: #fff !important;
    padding: 0px;
}

/*.action.active i{
  border: 2px solid rgb(255 255 255 / 35%);
  border-radius: 50%;
  padding: 15px 
}*/
.action.active:hover i {
    border: solid 2px rgb(255 255 255 / 35%);
    border-radius: 50%;
    padding: 15px;
}

.action.active:hover {
    background: rgb(255 255 255 / 50%) !important;
    animation: zoom-in-zoom-out-a 3s ease infinite;
    padding: 4px;
}


menu li.hide{
  display: none;
}
menu li:hover{
  background: rgb(166 182 183);
}

menu li:hover a i {
    background: rgb(166 182 183);
    padding: 15px;
    border: solid 2px;
    border-radius: 50%;
    
    /* margin: 0px; */
}

menu li.attack:hover a i {
  padding: 12px 12px 16px 16px!important;
}

.menu-button{
    /*background-color: #ffffff8c;*/
    margin: -45px 0 0 -45px;
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    right: 3%;
    bottom: 2%;
    z-index: 103;
}


#menuCostum1{
    box-shadow: 10px 12px 10px 4px rgb(150 252 255 / 16%);
}
#menuCostum2{
    box-shadow: 2px 2px 15px 15px rgb(255 255 255 / 22%);
    animation: zoom-in-zoom-out-b 5s ease infinite;
}

menu.box-body.hover{
    /*box-shadow: 2px 2px 15px 15px rgb(203 203 203 / 42%);*/
}

menu li a {
    background-color: rgb(115 201 206 / 69%);
    border-radius: 50%;
    /*animation: zoom-in-zoom-out-a 3s ease infinite;*/
}

menu li a:hover {
    background: rgb(166 182 183);
}