#party-member{
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14%;
    left: 0.5rem;
    padding: 11px;
    font-size: 10px;
    display: grid;
}

.party-1{

}


.party-profile{
    width: 50px;
    margin: 6px 5px;
}

.party-status {
    width: 12rem;
}
.party-box-status {
    display: -webkit-inline-box;
    margin-bottom: 10px;
}
/*
menu div div.menu-light {
  transition-delay: 0.1s;
}*/

/*menu div div.menu-light:nth-of-type(6)  {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
}*/
.progress-indicator-party-member{
    margin-top: 3px;
    /*width: 14vw;*/
    /* width: 7.25rem; */
    width: 6.5rem;
    height: 10px !important;
}

.progress-label-party-member {
    padding: 0px 1vw;
    width: 4vw;
}
.progress-bar-party-member{
    width: 100%;
    font-size: 8px;
}

.bgBoxImage{
    background: rgb(239 239 239 / 15%);
    display: -webkit-inline-box;
    padding: 0.25rem 0.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.party-member-status-title{
    padding: 0 0.5rem !important;
}
.progress-label.party-member{
    padding: 0px 0.5rem;
    width: 2rem;
}
.progress-label.party-member.right {
    padding: 0px 0.5rem;
    width: 3.5rem;
    text-align: right;
}
.bgBoxImage.active {
    background: rgb(239 239 239 / 54%);
}

.titleParty{
    width: 12rem;
    margin: 2px 5px;
}
.titlePartyBox{
    width: 15.75rem;
}
div.titlePartyBoxButton{
    background: rgb(239 239 239 / 15%);
    padding: 0.25rem 0.25rem !important;
    margin: 0rem 0.5rem;
    border-radius: 2px;
}

.arrowTitleParty{
    margin-top: 12px!important;
    margin-left: 20px!important;
}

/* Party List */


.buff-status-list {
    background: rgb(255 255 255 / 25%);
    border-radius: 5px;
    display: -webkit-inline-box;
    margin: 5px;
    width: 11rem;
}

.buff-status-list span {
    background: #fff;
    border: solid 1px rgb(204 204 204 / 75%);
    padding: 1px;
    color: #fb7b2e;
    font-size: 12px;
    border-radius: 4px;
}

.buff-icon {
    padding: 1px;
    background: #fff;
    border-radius: 4px;
    margin: 2px 4px;
    display: inline-flex;
}